{% extends 'base.html.twig' %}

{% block title %}
    Citations aléatoire
{% endblock %}

{% block body %}

    <h1> Citations aléatoire </h1>


        <ul class="quote">
            <div class="content">"{{ quote.content }}"</div>
            <div class="meta"> - {{ quote.meta }}</div>
        </ul>

    <a href=" {{ path('quote_random') }}">Nouvelle citation aléatoire</a>
    <a href=" {{ path('quotes') }}">Retour a l'acceuil</a>

{% endblock %}



